<%= form_for @user, url: register_path, class: 'form-signup' do |f| %>
    <h2 class="form-signup-heading">Sign Up</h2>
  
    <%= f.label :first_name, 'First Name' %>
    <%= f.text_field :first_name, class: 'form-control', autofocus: true %>
  
    <%= f.label :last_name, 'Last Name' %>
    <%= f.text_field :last_name, class: 'form-control' %>
  
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email, class: 'form-control' %>
  
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password, class: 'form-control' %>
  
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  
    <%= f.submit 'Sign Up', class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
  