<section class="orders-show">
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <div class="line-items">
    <h3>Line Items</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |line_item| %>
          <tr>
            <td><%= image_tag line_item.product.image.tiny.url, alt: line_item.product.name %></td>
            <td><%= line_item.product.name %></td>
            <td><%= line_item.product.description %></td>
            <td><%= line_item.quantity %></td>
            <td>$<%= line_item.quantity * line_item.product.price_cents / 100.0 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="order-details">
    <h3>Order Details</h3>
    <p>Final Amount: $<%= @order.total_cents / 100.0 %></p>
    <p>Email Used: <%= @order.email %></p>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>
